<footer>
    <div class="container p-2">
        <div class="d-lg-flex  justify-content-lg-between  align-items-lg-center">

                  <div>
                      <ul class="list-unstyled mb-lg-0 mb-2 d-flex justify-content-center">
                          <li class="mx-2"><a href="https://facebook.com/amrSaadAbdallah" target="_blank"><i class="facebook fab fa-facebook-f"></i></a></li>
                          <li class="mx-2"><a href="https://www.linkedin.com/in/amrSaadAbdallah" target="_blank"><i class="linkedin fab fa-linkedin-in"></i></a></li>
                          <li class="mx-2"><a href="https://github.com/Amrsaadabdallah" target="_blank"><i class="github fab fab fa-github"></i></a></li>
                          <li class="mx-2"><a href="#"><i class="twitter fab fa-twitter"></i></a></li>
                      </ul>
                  </div>

                  <div>
                    <p class="text-center text-lg-right text-white lead mb-0">
                       © 2020 STICKY_NOTES. All Rights Reserved.</p>
                  </div>

        </div>
    </div>
</footer>


